<h1>Scheduled viewing times for <%= @property.name %> property</h1>

<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @property.timeslots.each do |timeslot| %>
      <tr>
        <td><%= "#{timeslot.viewing_date} #{timeslot.viewing_date.strftime("%A")}" %></td>
        <td><%= timeslot.start_time.strftime("%-I:%M %p") %></td>
        <td><%= timeslot.end_time.strftime("%-I:%M %p") %></td>
        <td><%= timeslot.status %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to 'New Timeslot', new_timeslot_path, method: :get, class: 'btn btn-primary' %>