<%= form_with(model: @timeslot, local: true) do |form| %>
  <% if @timeslot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeslot.errors.count, "error") %> prohibited this timeslot from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :viewing_date, class: "label" %><br>
    <%= form.date_select :viewing_date, {}, { class: "" } %>
  </div>

  <div class="form-field">
    <%= form.label :start_time, class: "label" %><br>
    <%= form.time_select :start_time, { minute_step: 15 }, { class: "" } %>
  </div>

  <div class="form-field">
    <%= form.label :end_time, class: "label" %><br>
    <%= form.time_select :end_time, { minute_step: 15 }, { class: "" } %>
  </div>

  <div class="form-field">
    <%= form.label :max_guests, class: "label" %><br>
    <%= form.number_field :max_guests, class: "" %>
  </div>

  <div class="form-field">
    <%= form.submit "Create time slot", class: "btn btn-primary" %>
  </div>
<% end %>
